<div id="mainDivSideNav"> 
    <h1>My ToDo App</h1>
    <div>
      <img src="../../assets/icons/to-do.png"><a routerLink="/home" routerLinkActive="active">My Day</a>
    </div>

    <div>
      <img src="../../assets/icons/business.png"><a routerLink="/work" routerLinkActive="active">Work</a>
    </div>

    <div>
      <img src="../../assets/icons/family.png"><a routerLink="/family" routerLinkActive="active">Family</a>
    </div>

    <div>
      <img src="../../assets/icons/airplane-mode-on.png"><a routerLink="/travel" routerLinkActive="active">Travel</a>
    </div>

    <div>
      <img src="../../assets/icons/football.png"><a routerLink="/hobby" routerLinkActive="active">Hobby</a>
    </div>

    <div>
      <img src="../../assets/icons/add.png"><a routerLink="/addTask" routerLinkActive="active">Add Task</a>
    </div>
</div>