<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
<div id="mainDivAdd">

      <label>To do name</label>
      <input type="text" name="Name" #Name="ngModel"  [(ngModel)]="todoService.Name" placeholder="Stuff to do">
  
      <label>Operator</label>
      <input name="Operator" #operator="ngModel" type="text" [(ngModel)]="todoService.Operator" placeholder="Max Miller">      
  
      <label>Date</label>
      <input name="Date" type="date" name="date" [(ngModel)]="todoService.Date" placeholder="02.04.2019 (Format: Day.Month.Year)">
  
      <label>Importance</label>
      <select name="Importance" #importance="ngModel" [(ngModel)]="todoService.Importance">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
    
      <button type="submit">Submit</button>
</div>
</form>